<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    {{#if isLoggedIn}}

      <p>Hey, {{{currentUser.username}}}</p>

      <p><a href="/">HOME</a></p>
      <p><a href="/public">Cool public page</a></p>
      <p><a href="/private">Funky private page</a></p>

      <p><a href="/auth/logout">LOG OUT</a></p>

    {{else}}

      <p><a href="/">HOME</a></p>
      <p><a href="/public">Cool public page</a></p>
      <p><a href="/auth/signup">SIGN UP PAGE</a></p>
      <p><a href="/auth/login">LOG IN PAGE</a></p>

    {{/if}}

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>