<h1>Welcome to the private side, {{currentUser.username}}</h1>

<iframe src="https://giphy.com/embed/o75ajIFH0QnQC3nCeD" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a
    href="https://giphy.com/gifs/theoffice-o75ajIFH0QnQC3nCeD"
  >via GIPHY</a></p>